/* Top Header */
.head {
  background-color: #f5f5f5;
  width: 100%;
  margin-bottom:5px;
  box-shadow: 0px 0px 15px -1px rgba(0,0,0);  /* Set container width */
}
.head a{
	font-size:30px;
	font-weight: bold;
}
.top-header {
  background-color: #e0ebeb; /* Set background color */
  padding: 10px 0; 
  margin-bottom:5px;
  box-shadow: 0px 0px 15px -1px rgba(0,0,0);/* Add top and bottom padding */
}

.container {
  width: 70%; /* Set container width */
  margin: 0 auto; 
}
.container4 {
  width: 100%; /* Set container width */
  margin: 0 auto; 
}

/* Left Navigation */
.tp-hd-lft {
  float: left;
  list-style: none; /* Remove default bullet points */
  padding: 0; /* Remove default padding */
  margin:0px; /* Remove default margin */
}

.tp-hd-lft li {
  display: inline-block; /* Display list items inline */
  margin-left:25px;
  font-size:16px;  /* Add space between list items */
}

.tp-hd-lft a {
  color: #333; /* Set text color */
  text-decoration: none; /* Remove underline on hover */
}

.tp-hd-lft a:hover {
  color:#00cc00; /* Change text color on hover */
}

/* Right Navigation */
.tp-hd-rgt {
  float: right; /* Float right for side-by-side layout */
  list-style: none; /* Remove default bullet points */
  padding: 0; /* Remove default padding */
  margin: 0; /* Remove default margin */
}

.tp-hd-rgt li {
  display: inline-block; /* Display list items inline */
  margin-left: 5px; /* Add space between list items */
}

.tp-hd-rgt a {
  color: #333; /* Set text color */
  text-decoration: none; /* Remove underline on hover */
}

.tp-hd-rgt a:hover {
  color:#00cc00; /* Change text color on hover */
}

/* Icons */
.fa {
  font-size: 25px; /* Set icon size */
  margin-right: 5px; /* Add space between icon and text */
}


.btn-sm {
  margin:5px;
  padding: 5px 10px; /* Adjust button padding */
  font-size: 14px; /* Adjust button font size */
  background-color: #007bff; /* Set button background color */
  color: #fff; /* Set button text color */
  border: none; /* Remove button border */
  border-radius: 3px;
  float:left;
  box-shadow: 0px 0px 15px -1px rgba(0,0,0);  /* Add rounded corners to button */
}

